body{
    font-family: "Montserrat", sans-serif;
}


h1{
    text-align: center;
}

p{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
    width: 40%;
    margin: auto;
    padding: 1rem;
    border: 1px solid #cbcbcb;
    border-radius: 19px;
    box-shadow: 1px 1px 13px #c7c7c7;

}
.part1{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

.part2{
    display: flex
    ;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
        font-size: 24px;
        color: #3f3e3e;
}

li{
    list-style: none;
    border: 1px solid #ddd9d9;
    padding: 9px;
    border-radius: 16px;
    background: #ededed;
    margin: 12px 0px;
    width: fit-content;
}
#name{
    border: none;
    outline: none;
    border-radius: 33px;
    box-shadow: 0px 0px 10px #b7b7b7;
    height: 2rem;
    width: 93%;
    padding: 3px 8px;
}

.mainbtn{
    border: none;
    height: 2rem;
    border-radius: 12px;
    padding: 0 1rem;
    color: white;
    font-size: 20px;
    box-shadow: 1px 1px 8px #858585;
    cursor: pointer;
    transition: transform 1s;

}

.mainbtn:hover{
    transform: scale(1.1);
}


.btn1{
   
    background: #b6b6ff;
}

.btn1:hover{
    background: #aaaaf6;

}
.btn2{
    background: #f54949;

}
.btn2:hover{
    background: #fa3e3e;

}